* {
  padding: 0;
  margin: 0;
  outline: 0;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #f7f7f7;
  padding: 0 10px;
  color: #333;
}
.box {
  background: #fff;
  max-width: 500px;
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
}
.success {
  border: 1px solid green !important;
}
.error {
  border: 1px solid red !important;
}
/* sign up page  start*/
.signup {
  padding: 20px;
}

.signup .header {
  font-size: 25px;
  font-weight: 700;
  border-bottom: 1px solid #b0b0b0;
  padding-bottom: 15px;
}

.signup .main_form {
  padding: 15px 0px;
}

.signup .main_form .item {
  padding-bottom: 10px;
}
.signup .main_form .item label {
  display: block;
  color: #080707;
  padding-bottom: 5px;
  font-size: 16px;
}

.signup .main_form .item input {
  display: block;
  border-radius: 4px;
  width: 94%;
  border: 1px solid #cdcdcd;
  font-size: 16px;
  padding: 6px 12px;
}
.signup .main_form .item small {
  color: red;
}

.signup .main_form .btn {
  /* color: red; */
  width: 100%;
  background: #454545;
  color: #fff;
  font-size: 18px;
  border: navajowhite;
  padding: 9px 0px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}

.signup .text {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.signup .text a {
  color: #333;
}
.signup .text a:hover {
  color: #000;
  text-decoration: underline;
}

/* X-X-X-X   sign up page end  X-X-X-X */

/* Chat page start  */
.chat {
}
.chat .header {
  align-items: center;
  display: flex;
}
.chat .header a {
}
.chat .header a i {
  font-size: 25px;
  color: #141414;
  margin: 13px 13px;
}
.chat .header img {
  width: 50px;
  border-radius: 50%;
  padding: 10px 0;
}
.chat .header .name_details {
}
.chat .header .name_details h4 {
}
.chat .header .name_details p {
}

.chat .header img {
  width: 50px;
  border-radius: 50%;
}
